@model PizzaApp.WebApp.Order

@{
    ViewData["Title"] = "Order Details";
}

<h2>Order Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.ActionLink(Model.UserId.ToString(), "Details", "User", new { id = Model.UserId })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>
        <dd>
            @switch (Model.LocationId)
            {
                case 1:
                    @Html.ActionLink("(1)Reston", "Details", "Location", new { id = Model.LocationId })
                    break;
                case 2:
                    @Html.ActionLink("(2)Herndon", "Details", "Location", new { id = Model.LocationId })
                    break;
                case 3:
                    @Html.ActionLink("(3)Sterling", "Details", "Location", new { id = Model.LocationId })
                    break;
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PizzaId1)
        </dt>
        <dd>
            @Html.ActionLink(Model.PizzaId1.ToString(), "Details", "Pizza", new { id = Model.PizzaId1 })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PizzaId2)
        </dt>
        <dd>
            @Html.ActionLink(Model.PizzaId2.ToString(), "Details", "Pizza", new { id = Model.PizzaId2 })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PizzaId3)
        </dt>
        <dd>
            @Html.ActionLink(Model.PizzaId3.ToString(), "Details", "Pizza", new { id = Model.PizzaId3 })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PizzaId4)
        </dt>
        <dd>
            @Html.ActionLink(Model.PizzaId4.ToString(), "Details", "Pizza", new { id = Model.PizzaId4 })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PizzaId5)
        </dt>
        <dd>
            @Html.ActionLink(Model.PizzaId5.ToString(), "Details", "Pizza", new { id = Model.PizzaId5 })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PizzaId6)
        </dt>
        <dd>
            @Html.ActionLink(Model.PizzaId6.ToString(), "Details", "Pizza", new { id = Model.PizzaId6 })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PizzaId7)
        </dt>
        <dd>
            @Html.ActionLink(Model.PizzaId7.ToString(), "Details", "Pizza", new { id = Model.PizzaId7 })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PizzaId8)
        </dt>
        <dd>
            @Html.ActionLink(Model.PizzaId8.ToString(), "Details", "Pizza", new { id = Model.PizzaId8 })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PizzaId9)
        </dt>
        <dd>
            @Html.ActionLink(Model.PizzaId9.ToString(), "Details", "Pizza", new { id = Model.PizzaId9 })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PizzaId10)
        </dt>
        <dd>
            @Html.ActionLink(Model.PizzaId10.ToString(), "Details", "Pizza", new { id = Model.PizzaId10 })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PizzaId11)
        </dt>
        <dd>
            @Html.ActionLink(Model.PizzaId11.ToString(), "Details", "Pizza", new { id = Model.PizzaId11 })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PizzaId12)
        </dt>
        <dd>
            @Html.ActionLink(Model.PizzaId12.ToString(), "Details", "Pizza", new { id = Model.PizzaId12 })
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
