@model IEnumerable<PizzaApp.WebApp.Inventory>

@{
    ViewData["Title"] = "Inventory Index";
}

<h2>Inventory Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dough)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TomatoSauce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhiteSauce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cheese)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pepperoni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chicken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sausage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bacon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anchovies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RedPeppers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GreenPeppers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pineapple)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Olives)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mushrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Garlic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Onions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tomatoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spinach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Basil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ricotta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parmesan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @switch (item.LocationId)
            {
                case 1:
                    @Html.ActionLink("(1)Reston", "Details", "Location", new { id = item.LocationId })
                    break;
                case 2:
                    @Html.ActionLink("(2)Herndon", "Details", "Location", new { id = item.LocationId })
                    break;
                case 3:
                    @Html.ActionLink("(3)Sterling", "Details", "Location", new { id = item.LocationId })
                        break;
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dough)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TomatoSauce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhiteSauce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cheese)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pepperoni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chicken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sausage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bacon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anchovies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RedPeppers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GreenPeppers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pineapple)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Olives)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mushrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Garlic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Onions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tomatoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spinach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Basil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ricotta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parmesan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feta)
            </td>
            <td>
                @Html.ActionLink("Restock", "Restock", new { id = item.Id }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
