@model PizzaApp.WebApp.Location

@{
    ViewData["Title"] = "Location Details";
}

<h2>Location Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InventoryId)
        </dt>
        <dd>
            @Html.ActionLink(Model.InventoryId.ToString(), "Details", "Inventory", new { id = Model.InventoryId })
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
